body
{
	background-color: black;
	color: white;
}
h1
{
	width: 50%; /* cela me permet de réduire la largeur du texte
	mais il est du coup situé à gauche*/
	margin: auto; /* avec la ligne précédente, cela permet de
	centrer le bloc */
	text-align: center;
	/* la ligne suivante permet d'encadrer un titre */
	border: 2px white solid;
	border-radius: 10px;

}

/* l'instruction suivante sert à modifier l'apparence d'un élément déjà visité*/
a:visited
{
	color: blue;
}
.centre
{
	text-align: center;
}
.particulier
{
	color: purple;
}
.souligne
{
	text-decoration: underline; color:red;
	}
td /* toutes les cellules des tableaux */
{
	border:1px solid white;

}
th /* l'en-tête d'un tableau */
{
	border: 1px solid white;
}
table
{
	border-collapse: collapse;
	margin:auto;
}